<br>
<div class="container-fluid maindiv">
       <div class="row headdiv">
              <div class="col-lg-12">
                     <h4 style="float: left;">Text Master</h4>
              </div>
       </div>
       <br>
       <div class="row">
              <div class="col-lg-3">
                     <label>Text Code</label>
              </div>
              <div class="col-lg-4">
                     <input type="text" class="form-control"   placeholder="Text Code">
              </div>
       </div>
       <br>
       <div class="row">
              <div class="col-lg-3">
                     <label>Text Description</label>
              </div>
              <div class="col-lg-4">
                     <textarea rows="3" class="form-control"  s  placeholder="Text Description"></textarea>
              </div>
       </div>
       <br>
       <div class="row">
              <div class="col-lg-5"></div>
              <div class="col-lg-2">
                     <button type="button" class="addnewbtns" style="width: 100%;">Save</button>
              </div>
              <div class="col-lg-5"></div>
       </div>
</div>
<br>