<!-- <div class="tab">
  <button class="tablinks" (click)="openCity($event, 'London')" id="defaultOpen" style="width:50%">Purchase Order</button>
  <button class="tablinks" (click)="openCity($event, 'Paris')" style="width:50%">Tenders</button>

</div> -->
<br>

<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-5" style="margin-top: -10px;">
      <ng-daterangepicker [options]="options" [(ngModel)]="value" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker>
    </div>
    <div class="col-lg-3">
      <h4 style="text-align: center;">
        <b>Dashboard</b>
      </h4><br>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div><br>
<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Raised')">
        <br>
        <label style="color: white;cursor: pointer;">
          Raised Request</label>
        <br /> <br />
        <label style="color: white;">{{cou.totalpos}}</label>
      </div>
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <br />
    <div class="col-lg-1"></div>
    <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Authorized')">
        <br>
        <label style="color: white;">Authorized Request
        </label>
        <br /> <br />
        <label style="color: white;">{{cou.authorizedcount}}</label>
      </div>
      <br />
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <div class="col-lg-1"></div>
    <br />
    <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Cancelled')">
        <br>
        <label style="color: white;">Cancelled Request
        </label>
        <br /> <br />
        <label style="color: white;">{{cou.cancelledcount}}</label>
      </div>
      <br />
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <div class="col-lg-1"></div>
    <br />
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <br />
    <!-- <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Accepted')">
        <br>
        <label style="color: white;">Supplier Accepted
        </label>
        <br /> <br />
        <label style="color: white;">{{cou.supplieraccCount}}</label>
      </div>
      <br />
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <div class="col-lg-1"></div>
    <br /> -->
    <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Delivered')">
        <br>
        <label style="color: white;">Request to PO
        </label>
        <br /> <br />
        <label style="color: white;">{{cou.deliverCount}}</label>
      </div>
      <br />
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <div class="col-lg-1"></div>
    <br />
  </div>


</div>
<br>



<!-- <div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Raised')">
        <br>
        <label style="color: white;cursor: pointer;">
         Active Tenders</label>
        <br /> <br />
        <label style="color: white;">5</label>
      </div>
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <br />
    <div class="col-lg-1"></div>
    <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Authorized')">
        <br>
        <label style="color: white;">Responded Vendors
        </label>
        <br /> <br />
        <label style="color: white;">10</label>
      </div>
      <br />
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <div class="col-lg-1"></div>
    <br />
    <div class="col-lg-2" *ngFor="let cou of countlist">
      <div class="optionsboxdown" style="cursor: pointer;" routerLink="/PoGenaratorReports"
        (click)="GetActivePoslist('Cancelled')">
        <br>
        <label style="color: white;">Shortlisted Tenders
        </label>
        <br /> <br />
        <label style="color: white;">4</label>
      </div>
      <br />
      <br />
      <p style="margin-left: 56px;margin-top: -16px;"></p>
    </div>
    <div class="col-lg-1"></div>
    <br />
  </div>
 


</div>

<br> -->