<br>
<ngx-spinner></ngx-spinner>
<div class="container-fluid">
       <div class="row">
              <div class="col-lg-12">
                     <h4 style="float: left;">ACCOUNTING CODE DASHBOARD</h4>
                     <button type="button" style="float: right;" routerLink="/AccountingCodeMaster"
                            class="addnewbtns">Add</button>
                     <button (click)="getglmasterexcel()" style="margin-right: 40px;" class="addnewbtns">Export
                            Excel</button>
              </div>
       </div>
</div>
<br>
<br>

<div class="container-fluid maindiv">

       <div class="row">
              <div class="col-lg-3">
                     <input type="text" placeholder="Search" [(ngModel)]="term" class="form-control">
              </div>
              <div class="col-lg-3">
                     <select class="form-control" (change)="GetPoTypeID($event)">
                            <option value="0">Select PO Type</option>
                            <option value="1">Expense</option>
                            <option value="2">Capital</option>
                     </select>
              </div>
       </div>
       <div class="row">
              <div class="col-lg-10">
              </div>
              <div class="col-lg-2">
                     <label style="margin-left: 67px;"><b>Count : {{count}}</b></label>
              </div>
       </div>
       <div class="row">
              <div class="col-lg-12">
                     <table id="POREPORTS">
                            <tr>
                                   <th>PO Type</th>
                                   <th>Accounting Code</th>
                                   <!-- <th>Accounting Description</th> -->
                                   <th>Action</th>
                            </tr>
                            <tr
                                   *ngFor="let List of AccountingList|filter:term| paginate: { id: 'foo', itemsPerPage: 50, currentPage: p}">
                                   <td>{{List.poTypeName}}</td>
                                   <td>{{List.accountingCode}}</td>
                                   <!-- <td>{{List.accountingDescription}}</td> -->
                                   <td>
                                          <img src="assets/images/dell.png" (click)="Delete(List.id)"
                                                 style="width: 20px;">
                                          &nbsp;
                                          <img src="assets/images/edit.png" style="width: 20px;"
                                                 [routerLink]="['/AccountingCodeMaster',List.id]">
                                   </td>
                            </tr>


                     </table>
              </div>
       </div>

       <div class="col-lg-12" style="text-align: center">
              <br>
              <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true"
                     autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
                     screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                     screenReaderCurrentLabel="You're on page">
              </pagination-controls>
       </div><br><br>
</div>