<div class="row tab">
       <div class="col-md-2 sidenav" style="overflow-y: auto;height: 90vh;">
              <h6 style="float: left;color: aliceblue;">
                     Welcome, {{user}}
              </h6>
              <br />

              <hr style="color: aliceblue;border: solid 1px;" />

              <a routerLink="/AdminDashboard" *ngIf="roleid=='1'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/category.png" style="width: 15px;" />&nbsp; Dashboard
              </a>
              <a routerLink="/AdminTotalReports" *ngIf="roleid=='1'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/category.png" style="width: 15px;" />&nbsp; PO Count Report
              </a>
              <a routerLink="/TotalPORevenue" *ngIf="roleid=='1'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/category.png" style="width: 15px;" />&nbsp; PO Amount Report
              </a>
              <a data-toggle="collapse" class="togglebtn button" data-target="#master" *ngIf="roleid=='1'">
                     <img src="assets/images/master.png" style="width: 20px;overflow: scroll;" />&nbsp;Masters
              </a>
              <div id="master" class="collapse" style="padding-left: 7%;">
                     <a routerLink="/ItemCategoryDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/category.png" style="width: 15px;" />&nbsp; Category
                     </a>
                     <a routerLink="/ItemSubCategoryDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/subca.png" style="width: 15px;" />&nbsp; Sub Category
                     </a>
                     <a routerLink="/ItemMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Item
                     </a>
                     <a routerLink="/BillToMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/billto.png" style="width: 15px;" />&nbsp; Bill To
                     </a>
                     <a routerLink="/ShipToMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/shipto.png" style="width: 15px;" />&nbsp; Ship To
                     </a>

                     <a routerLink="/SupplierMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplier.png" style="width: 15px;" />&nbsp; Vendor
                     </a>

                     <!-- <a routerLink="/SupplierItemsDash"  class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Tax.png" style="width: 15px;" />&nbsp; Vendor Items
                     </a> -->
                     <!-- <a routerLink="/BuyingCompanyMasterDashboard"  class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/buyingcompany.png" style="width: 15px;" />&nbsp; Buying Company
                     </a>
                     <a routerLink="/BuyerMasterDashboard" class="tablinks"  (click)="highlight($event)">
                            <img src="assets/images/buyer.png"  style="width: 15px;" />&nbsp; Buyer
                     </a> -->
                     <a routerLink="/AuthorizationMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/accounting.png" style="width: 15px;" />&nbsp; Authorization
                     </a>

                     <a routerLink="/AccountingCodeMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/accountinglogon.png" style="width: 15px;" />&nbsp; Accounting Code
                     </a>

                     <a routerLink="/ShipViaMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/shipvia.png" style="width: 15px;" />&nbsp; Ship Via
                     </a>
                     <a routerLink="/InstructionMasterDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/shipvia.png" style="width: 15px;" />&nbsp; Instruction Master
                     </a>

                     <a routerLink="/TaxAdditionsDashboard" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Tax.png" style="width: 15px;" />&nbsp; Tax
                     </a>

                     <!-- <a routerLink="/FobMasterDashboard"  class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Tax.png" style="width: 15px;" />&nbsp; FOB Master
                     </a> -->
                     <a routerLink="/DeptMasterDash" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Tax.png" style="width: 15px;" />&nbsp; Department Master
                     </a>
                     <!-- <a routerLink="/OrderTypeMasterDash"  class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Tax.png" style="width: 15px;" />&nbsp; Order Type 
                     </a> -->
              </div>
              <a data-toggle="collapse" class="togglebtn button" data-target="#register" *ngIf="roleid=='1'">
                     <img src="assets/images/registerlogin.png" style="width: 20px;overflow: scroll;" />&nbsp;Register
                     Logins
              </a>
              <div id="register" class="collapse" style="padding-left: 7%;">
                     <a routerLink="/RegisterDash" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; Admin Logins
                     </a>
                     <a routerLink="/PoGenaratorLoginDash" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; PO Generator
                     </a>
                     <a routerLink="/SupplierLoginDash" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Vendor
                     </a>
                     <a routerLink="/Authologindash" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Authorization.png" style="width: 15px;" />&nbsp; Authorization
                     </a>

              </div>


              <a routerLink="/PurchaseOrderDash" *ngIf="roleid=='2'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; Dashboard
              </a>
              <a routerLink="/RequestionerDash" *ngIf="roleid=='2'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; New Requestation
              </a>
              <a routerLink="/Inventory" *ngIf="roleid=='2'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Inventory
              </a>
              <!-- <a routerLink="/Flowdiagram" *ngIf="roleid=='2'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Flow Diagram
              </a> -->





              <a data-toggle="collapse" class="togglebtn button" data-target="#reqestiners" *ngIf="roleid=='8'">
                     <img src="assets/images/registerlogin.png" style="width: 20px;overflow: scroll;" />&nbsp;Purchase
                     Orders

              </a>

              <div id="reqestiners" class="collapse" style="padding-left: 7%;">
                     <a routerLink="/PurchaseOrderDash" *ngIf="roleid=='8'" class="tablinks"
                            (click)="highlight($event)">
                            <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; Dashboard
                     </a>
                     <a routerLink="/PurchaseOrderDashboard" *ngIf="roleid=='8'" class="tablinks"
                            (click)="highlight($event)">
                            <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; Requisition Dashboard
                     </a>

                     <a routerLink="/POOrderReports" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; Raised PO
                     </a>

                     <a routerLink="/Approvedposs" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Approved PO
                     </a>

                     <a routerLink="/DeliveredPossss" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Delivered PO
                     </a>

              </div>


              <a data-toggle="collapse" class="togglebtn button" data-target="#tendersdashreq" *ngIf="roleid=='8'">
                     <img src="assets/images/registerlogin.png" style="width: 20px;overflow: scroll;" />&nbsp;Tenders

              </a>
              

              <div id="tendersdashreq" class="collapse" style="padding-left: 7%;">
                     <a routerLink="/TenderDash" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Tenders Dashboard
                     </a>

                     <a routerLink="/AppliedTenders" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Responded Vendors
                     </a>

                     <a routerLink="/ApprovedTendors" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Shortlisted Vendors
                     </a>
                     <a routerLink="/Inventory" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Inventory
                     </a>
              </div>

              <a routerLink="/RequestionerDash" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; New Requestation
              </a>
              <!-- <a routerLink="/Flowdiagram" *ngIf="roleid=='8'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Flow Diagram
              </a> -->



              <!-- <a routerLink="/OldPO" *ngIf="roleid=='2'"  class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; Old PO
              </a>
              <a routerLink="/HoldPO"  *ngIf="roleid=='2'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/category.png" style="width: 15px;" />&nbsp;  Hold PO 
              </a> -->




              <a routerLink="/ApprovePODash" *ngIf="roleid=='3'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/accounting.png" style="width: 15px;" />&nbsp; Dashboard
              </a>
              <a routerLink="/ApprovePo" *ngIf="roleid=='3'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Unapproved PO
              </a>
              <a routerLink="/ApprovesPos" *ngIf="roleid=='3'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Approved PO
              </a>
              <a routerLink="/CancelledPos" *ngIf="roleid=='3'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Cancelled PO
              </a>
<!-- 
              <a routerLink="/Flowdiagram" *ngIf="roleid=='3'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Flow Diagram
              </a> -->
              <a routerLink="/RequestionerDash" *ngIf="roleid=='3'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; New Requisition
              </a>




              <a data-toggle="collapse" class="togglebtn button" data-target="#VendorPos" *ngIf="roleid=='4'">
                     <img src="assets/images/master.png" style="width: 20px;overflow: scroll;" />&nbsp;Purchase orders
              </a>
              <div id="VendorPos" class="collapse" style="margin-left: 15px;">
                     <a routerLink="/MyProfile" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; My Profile
                     </a>
                     <a routerLink="/SupplierDash" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Dashboard
                     </a>
                     <a routerLink="/MyPo" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Open PO
                     </a>
                     <a routerLink="/SupplierAcceptedOrders" *ngIf="roleid=='4'" class="tablinks"
                            (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Accepted PO
                     </a>

                     <a routerLink="/SupplierCancelledOrders" *ngIf="roleid=='4'" class="tablinks"
                            (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Cancelled PO
                     </a>


                     <a routerLink="/Invoicepo" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Invoiced PO
                     </a>
<!-- 
                     <a routerLink="/ClosedPo" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Closed PO
                     </a> -->

                     <a routerLink="/DeliveredPos" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Closed PO
                     </a>

              </div>


              <a data-toggle="collapse" class="togglebtn button" data-target="#Tenders" *ngIf="roleid=='4'">
                     <img src="assets/images/master.png" style="width: 20px;overflow: scroll;" />&nbsp;Tenders
              </a>
              <div id="Tenders" class="collapse" style="margin-left: 15px;">
                     <a routerLink="/VendorTenders" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; New Tenders
                     </a>
                     <a routerLink="/AcceptedTenders" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Accepted Tenders
                     </a>
                     <a routerLink="/RejectedTenders" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Rejected Tenders
                     </a>
                     <a routerLink="/SubmittedTenders" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Submitted Tenders
                     </a>
                     <a routerLink="/ShortlistedVendors" *ngIf="roleid=='4'" class="tablinks"
                            (click)="highlight($event)">
                            <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Approved Tenders
                     </a>

              </div>

              <!-- <a routerLink="/Flowdiagram" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Flow Diagram
              </a> -->
              <a routerLink="/RequestionerDash" *ngIf="roleid=='4'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; New Requisition
              </a>



              <a routerLink="/WarehousPos" *ngIf="roleid=='7'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Approved PO's
              </a>

              <a routerLink="/ReceivedPo" *ngIf="roleid=='7'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Received PO
              </a>

              <a routerLink="/Inventory" *ngIf="roleid=='7'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Inventory
              </a>
              <!-- <a routerLink="/Flowdiagram" *ngIf="roleid=='7'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Flow Diagram
              </a> -->
              <a routerLink="/RequestionerDash" *ngIf="roleid=='7'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; New Requisition
              </a>



              <a routerLink="/ApprovesPos" *ngIf="roleid=='6'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/supplierlogin.png" style="width: 15px;" />&nbsp; Approved PO
              </a>
              <a routerLink="/InvoicesDash" *ngIf="roleid=='6'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; New Invoices
              </a>

              <a routerLink="/ApproveInvoices" *ngIf="roleid=='6'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Paid Invoices
              </a>
              <a routerLink="/RejectedInvoices" *ngIf="roleid=='6'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Rejected Invoices
              </a>
              <!-- <a routerLink="/Flowdiagram" *ngIf="roleid=='6'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/Item.png" style="width: 15px;" />&nbsp; Flow Diagram
              </a> -->

              <a routerLink="/RequestionerDash" *ngIf="roleid=='6'" class="tablinks" (click)="highlight($event)">
                     <img src="assets/images/pogenarator.png" style="width: 15px;" />&nbsp; New Requisition
              </a>

              <br />
              <br />
       </div>
</div>