<br>
<div class="container-fluid maindiv">
       <div class="row headdiv">
              <div class="col-lg-12">
                     <h4 style="float: left;">Text Master Dashboard</h4>
                     <button type="button" style="float: right;" routerLink="/TextMaster"
                            class="addnewbtns">Add</button>
              </div>
       </div>
       <br>
       <div class="row">
              <div class="col-lg-12">
                     <table>
                            <tr>
                                   <th>Text Code</th>
                                   <th>Text Description</th>
                            </tr>
                     </table>
              </div>
       </div>
</div>