<br>
<div class="container-fluid">
       <div class="row ">
              <div class="col-lg-12">
                     <h4 style="float: left;">CATEGORY MASTER</h4>
              </div>
       </div>
</div>
<br>
<div class="container-fluid maindiv">
       <form #CategotyForm="ngForm">

              <div class="row">
                     <div class="col-lg-2">
                            <label>Category Code</label>
                            <span style="color:red;">*</span>
                     </div>
                     <div class="col-lg-4">
                            <input type="text" class="form-control" required name="Code" [(ngModel)]="Code"
                                   placeholder="Category Code">
                     </div>
              </div>
              <br>
              <div class="row">
                     <div class="col-lg-2">
                            <label>Category Name</label>
                            <span style="color:red;">*</span>
                     </div>
                     <div class="col-lg-4">
                            <input type="text" class="form-control" required name="Name" [(ngModel)]="Name"
                                   placeholder="Category Name">
                     </div>
              </div>
              <br>
              <div class="row">
                     <div class="col-lg-2">
                            <label>Category Description</label>
                     </div>
                     <div class="col-lg-4">
                            <textarea rows="3"  class="form-control" name="Description"
                                   [(ngModel)]="Description" placeholder="Category Description"></textarea>
                     </div>
              </div>
              <br>
              <!-- <div class="row">
              <div class="col-lg-2">
                     <label>Tax</label>
              </div>
              <div class="col-lg-4">
                     <select class="form-control" required [(ngModel)]="TaxCode" name="TaxCode">
                            <option value="">Select</option>
                            <option *ngFor="let List of TaxList" value="{{List.id}}">{{List.taxCode}}
                            </option>
                     </select>
              </div>
       </div>
       <br> -->
              <div class="row">
                     <div class="col-lg-4"></div>
                     <div class="col-lg-2">
                            <button type="button" *ngIf="saveupdatebtn==0" (click)="InsertCategoryDetails()"
                                   class="addnewbtns" style="width: 100%;"
                                   [disabled]="CategotyForm.form.invalid">Save</button>
                            <button type="button" *ngIf="saveupdatebtn==1" (click)="UpdateCategoryMaster()"
                                   class="addnewbtns" style="width: 100%;"
                                   [disabled]="CategotyForm.form.invalid">Update</button>
                     </div>
                     <div class="col-lg-5"></div>
              </div>
       </form>
</div>
<br>