<br>
<div class="container-fluid maindiv">

    <h5 class="text-center headtext">PURCHASE ORDER FLOW DIAGRAM</h5><br>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-1">
            <!-- <label>Step-1</label> -->
        </div>
        <div class="col-lg-4">
            <button class="button1">Employe Creates PO</button><br>
            <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">Procurement Engineer</button><br>
            <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">Finance Manager</button><br>
            <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">Procurement Manager</button><br>
            <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">General Manager</button><br>
            <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">Vendor</button><br>
            <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">Warehouse</button><br>
            <!-- <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">Creates Purchase Order</button><br>
            <img src="assets/images/down.png" class="downarrow"><br>
            <button class="button1">Creates Purchase Order</button><br> -->
            <!-- <img src="assets/images/down.png" class="downarrow"><br> -->
        </div>
    </div>

</div>