/* You can add global styles to this file, and also import other style files */

.addnewbtns {
    /* background-color: #a1bf36;
   color: aliceblue;
   border: none;
   font-size: 16px;
   padding-left: 3%;
   padding-right: 3%;
   border-radius: 10px;
   width: auto;
   float: right;
   margin-top: -2px; */
    float: right;
    border-radius: 10px;
    background-color: #00b5d7;
    color: #fff;
    border: none;
    width: 150px;
    height: 30px;
    margin-bottom: 12px;
}

.msgbtn {
    background-color: #5f5e5d;
    color: aliceblue;
    border: none;
    font-size: 15px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    width: 100px;
}

.maindiv {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}

.headdiv {
    background-color: #00b5d7;
    color: white;
    padding-top: 8px;
}

table {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
}

th {
    background-color: #00b5d7;
    color: aliceblue;
    line-height: 1.42857143;
    vertical-align: top;
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.form-control {
    height: 34px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: white;
}

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
a {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h4 {
    font-weight: 700;
    color: #666;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

label,
p,
a {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

label {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}


/* th,td{
  font-family: 'Helvetica Neue",Helvetica,Arial,sans-serif;';

} */

.ck-editor__editable_inline {
    min-height: 200px !important;
}

tr:hover {
    background-color: #f5f5f5;
}

button:disabled {
    background-color: #6fa1ab;
    cursor: no-drop;
}
